*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: rgb(231, 187, 252);
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: antiquewhite;
    border-radius: 0.7rem;
    padding: 1.5rem;
    text-align: right;
    font-size: 60px;
    margin-bottom: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    background-color: antiquewhite;
    border: 0;
    padding: 2rem;
    margin: 0.1rem;
    border-radius: 1rem;
    font-size: 30px;
    transition: background-color .3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(216, 169, 248);
    color: antiquewhite;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgb(192, 129, 252);
    color: antiquewhite;
}

#igual:hover {
    background-color: antiquewhite;
    color: black;
}